@import '~bootstrap/dist/css/bootstrap.min.css';

.container {
    max-width: 700px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
    display: block;
    width: 100px;
    height: auto;
    margin: 0 auto 20px;
}

.clear {
    clear: both;
}

.title-container {
    text-align: right;
}

h1 {
    text-align: left;
    font-size: 25px;
}

.input-group {
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

.name-inputs {
    display: flex;
    width: 100%;
}

.name-inputs input {
    width: 50%;
    margin-right: 5px;
}

.hint {
    font-size: 12px;
    color: #666;
    margin-top: 5px;
}

.blue {
    color: #4285f4;
    font-size: 15px;
}

.btn {
    background-color: #4285f4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 25%;
    margin-top: 20px;
}

.btn:hover {
    background-color: #357ae8;
}

.password-inputs {
    display: flex;
}

.password-inputs input {
    width: 50%;
    margin-right: 5px;
}

.input-group input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
}

.btn, .login-instead {
    display: inline-block;
}

.login-instead {
    display: inline-block;
    vertical-align: middle;
    margin-right: 80px;
}